<br>
<form *ngIf="company">
  <!-- companyId -->
  <div class="form-group">
    <label>ID</label>
    <input type="text" class="form-control" name="companyId" [(ngModel)]="company._id" readonly>
  </div>
  <!-- companyName companyEmail -->
  <div class="form-row">
    <div class="form-group col-md-6">
      <label>Name</label>
      <input type="text" class="form-control" name="companyName" [(ngModel)]="company.name" readonly>
    </div>
    <div class="form-group col-md-6">
      <label>Email</label>
      <input type="email" class="form-control" name="companyEmail" [(ngModel)]="company.email" readonly>
    </div>
  </div>
  <!-- companyCreatedAt -->
  <div class="form-row">
    <div class="form-group col-md-6">
      <label>CreatedAt</label>
      <input type="text" class="form-control" name="companyCreatedAt" [(ngModel)]="company.createdAt" readonly>
    </div>
    <div class="form-group col-md-6">
      <label>Phone</label>
      <input type="text" class="form-control" name="companyPhone" [(ngModel)]="company.phone" readonly>
    </div>
  </div>

  <!-- Submit buttton -->
  <button type="submit" class="btn btn-secondary">Duzenle</button>
</form>
<br>





<div>
  <h2>Stores</h2>
  <hr>
  <div class="row">
    <app-card-store class="col-md-6" *ngFor="let store of stores" [store]="store"></app-card-store>
  </div>
</div>